@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap");
@import "tailwindcss";

@theme {
  --font-Millionaire: "Millionaire";
  --font-Millionaire-Script: "Millionaire-Script";

  --breakpoint-xs: 450px;

  --color-back: #f6ffd9;
  --color-green: #1f3004;
  --color-green-darker: #0c1301;
  --color-gold: #ffd51b;
  --color-beige: #fff8ec;

  --text-display: clamp(10px, calc((34 / 393) * 100vw), 34px);
  --text-display--line-height: 100%;

  --text-mini: clamp(10px, calc((12 / 393) * 100vw), 12px);
  --text-mini--line-height: 100%;

  --text-regular: clamp(10px, calc((16 / 393) * 100vw), 16px);
  --text-regular--line-height: 100%;

  --text-link: clamp(10px, calc((20 / 393) * 100vw), 20px);
  --text-link--line-height: 100%;
}

@font-face {
  font-family: "Millionaire";
  src:
    url("/fonts/Millionaire-Roman.woff") format("woff2"),
    url("/fonts/Millionaire-Roman.woff2") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Millionaire-Script";
  src:
    url("/fonts/Millionaire-Script.woff") format("woff2"),
    url("/fonts/Millionaire-Script.woff2") format("woff");
  font-weight: 100;
  font-style: normal;
}

body {
  @apply h-[100dvh]
   overflow-hidden
   flex
   justify-center
   items-center;
}

p,
a {
  @apply font-Millionaire;
}

.image-wrapper {
  @apply z-0
    top-0
    flex
    justify-center
    items-center
    left-0
    w-full
    h-full;
  img {
    @apply h-full
        object-cover;
  }
}

.flower-1 {
  @apply opacity-0;
}

img.flower-2 {
  @apply mix-blend-luminosity
    opacity-10
    absolute
    -top-[30%]
    left-0;
}

img.flower-3 {
  @apply mix-blend-luminosity
    opacity-15
    absolute
    rotate-12
    -top-[35vh]
    left-0
    -z-10;
}

img.flower-4 {
  @apply mix-blend-luminosity
    opacity-15
    absolute
    -rotate-45
    -top-[30vh]
    left-[30%]
    -z-10;
}

img.flower-5 {
  @apply mix-blend-luminosity
    opacity-15
    absolute
    -rotate-45
    -top-[20vh]
    left-[30%]
    -z-10;
}

img.flower-6 {
  @apply mix-blend-luminosity
    opacity-15
    absolute
    -rotate-45
    -top-[25vh]
    -left-[30%]
    -z-10;
}

img.flower-7 {
  @apply mix-blend-luminosity
    opacity-15
    absolute
    top-[13vh]
    -z-10;
}

.wrapper {
  @apply relative
    p-7
    md:rounded-2xl
    bg-beige
    w-[100vw]
    h-[100dvh]
    flex
    items-center
    justify-center
    flex-col
    max-w-[400px]
    md:max-h-[750px]
    overflow-hidden;

  h1 {
    @apply opacity-0
        tracking-tighter
        text-display
        font-Millionaire-Script;
  }

  .introduction-text {
    @apply opacity-0
        text-center;
  }
}

.block {
  @apply !block;
}

.pointer-events-auto {
  @apply !pointer-events-auto;
}

.envelope-wrapper {
  @apply -mt-[20%]
    p-7
    w-full
    flex
    justify-center
    items-center;

  .envelope-group {
    @apply pointer-events-none
        cursor-pointer
        mix-blend-luminosity
        w-full
        relative
        aspect-square
        flex
        items-center
        justify-center
        flex-col;

    .sobre-close {
      @apply w-full
            absolute
            bottom-0
            left-0;
    }

    .sobre-open {
      @apply hidden
            w-full
            absolute
            bottom-0
            left-0;
    }
  }
}

.content {
  @apply pt-8
    bg-amber-50
    opacity-0
    z-10
    absolute
    top-0
    left-0
    w-full
    overflow-x-hidden
    overflow-y-scroll
    max-h-[100%]
    h-[100dvh];

  .content-wrapper {
    @apply w-full
        overflow-hidden
        p-7
        text-center;

    h2 {
      @apply tracking-tighter
            block
            mb-4
            text-display
            font-Millionaire-Script;
    }

    h3 {
      @apply block
            tracking-tighter
            mb-4
            text-2xl
            font-Millionaire-Script;
    }

    h4 {
      @apply text-left
            block
            tracking-tighter
            mb-1
            text-[16px]
            font-Millionaire;
    }

    p.text-mini {
      @apply mb-1;
    }

    ul {
      li {
        p,
        a {
          @apply text-[13px]
                    mb-1;
        }
       
      }
    }

    .image-two {
      @apply my-16
            rounded-xl
            h-auto
            w-full
            overflow-hidden
            aspect-square;
      img {
        @apply h-full
                w-full
                object-cover;
      }
    }

    .cta {
      @apply rounded-lg
            mb-24
            cursor-pointer
            z-50
            block
            w-full
            text-white
            p-2
            pb-4
            bg-green
            font-Millionaire-Script
            text-2xl;
    }

    p {
      @apply mb-3;
    }
  }
}

#contact-form {
  @apply text-mini
    max-w-[400px]
    rounded-t-2xl
    p-7
    w-full
    h-[90dvh]
    max-h-[700px]
    overflow-y-scroll
    bg-white
    absolute
    left-0
    bottom-0
    z-90;

  fieldset {
    @apply mb-10;
    legend {
      @apply text-regular
            mb-4
            font-Millionaire;
    }

    &.food {
      section {
        @apply grid grid-cols-2 gap-1;
        div {
          @apply 
          col-span-1;
          label {
            @apply mb-0;
          }
        }
      }
    }

    div {
      @apply w-full
            flex
            flex-wrap
            gap-2
            items-center;
      input {
        @apply hidden
                mb-0
                w-auto;
      }
      input + label {
        @apply w-full
        text-sm
                text-center
                px-3
                border
                border-gray-200
                rounded-sm
                py-3;
      }
      input:checked + label {
        @apply bg-green
                text-white;
      }
    }
  }

  label {
    @apply text-regular
        mb-2
        block
        font-Millionaire;
  }

  .remove-persona {
    @apply font-Millionaire-Script
        text-mini;
  }

  input,
  textarea {
    @apply mb-6
    text-regular
        p-3
        font-Millionaire
        border
        border-gray-200
        rounded-md
        w-full;
  }

  button#add-persona {
    @apply float-end
        underline
        underline-offset-4
        font-Millionaire;
  }

  .persona {
    @apply border-t
        border-gray-100
        pt-8
        mb-8;
  }

  .button-wrapper {
    @apply mb-8;
    button {
      @apply text-2xl
            mt-8
            w-full
            bg-green
            text-white
            p-3
            rounded-md
            font-Millionaire-Script;
    }
  }
}
