@import "tailwindcss";

@theme {
    --font-Millionaire:  'Millionaire';
    --font-Millionaire-Script:  'Millionaire-Script';

    --breakpoint-xs: 450px;

    --color-back: #f6ffd9;
    --color-green: #1F3004;
    --color-green-darker: #0c1301;
    --color-gold: #ffd51b;
    --color-beige: #FFF8EC;

    --text-display: clamp(10px, calc((34 / 393) * 100vw), 34px);
    --text-display--line-height: 100%;

    --text-mini: clamp(10px, calc((12 / 393) * 100vw), 12px);
    --text-mini--line-height: 100%;

    --text-regular: clamp(10px, calc((16 / 393) * 100vw), 16px);
    --text-regular--line-height: 100%;

    --text-link: clamp(10px, calc((20 / 393) * 100vw), 20px);
    --text-link--line-height: 100%;


}

@font-face {
    font-family: 'Millionaire';
    src: url('/fonts/Millionaire-Roman.woff') format('woff2'),
         url('/fonts/Millionaire-Roman.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Millionaire-Script';
    src: url('/fonts/Millionaire-Script.woff') format('woff2'),
         url('/fonts/Millionaire-Script.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}

body {
   @apply
   flex
   justify-center
   items-center;
}

p, a {
    @apply
    font-Millionaire;
}

.image-wrapper {
    @apply
     mix-blend-multiply

    z-0
    absolute
    top-0
    flex
    justify-center
    items-center
    left-0
    w-full
    h-full;
    img {
        @apply
        h-full
        object-cover;
    }
}

.flower-1 {
    @apply
    opacity-0;
}



.content {
    @apply
    p-7
    text-center
    opacity-0
    z-10
    absolute
    top-0
    left-0
    w-full
    h-full
    bg-white;

    h2 {
        @apply
        block
        mb-48
        text-display
        font-Millionaire-Script;
    }

    p {
        @apply
        mb-1;
    }
}

.wrapper {
    @apply
    p-7
    md:rounded-2xl
    bg-beige
    w-[100vw]
    h-[100vh]
    flex
    items-center
    justify-center
    flex-col
    max-w-[400px]
    md:max-h-[750px]
    overflow-hidden;

    span {
        @apply
        mt-7
        text-xs
        text-green
        font-Millionaire;
    }

    h1 {
        @apply
        opacity-0
        tracking-tighter
        text-display
        font-Millionaire-Script;
    }

    .introduction-text {
        @apply
        opacity-0
        text-center
    }
}

.block {
    @apply
    !block;
}

.pointer-events-auto {
    @apply
    !pointer-events-auto;
}

.envelope-wrapper {
    @apply
    
    -mt-[20%]
    p-7
    w-full
    flex
    justify-center
    items-center;

    .envelope-group {
        @apply
        pointer-events-none
        mix-blend-luminosity
        w-full
        relative
        aspect-square
        flex
        items-center
        justify-center
        flex-col;


        .sobre-close {
            @apply
            w-full
            absolute
            bottom-0
            left-0;
        }

        .sobre-open {
            @apply
            hidden
            w-full
            absolute
            bottom-0
            left-0;
        }
    }
}
