---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const images = ["foto_1", "foto_2"];
const image = images[Math.floor(Math.random() * images.length)];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

---

<Layout>

	
	<div class="wrapper">
		
		
		<h1 class="intro-names z-10">Ana y Ángel</h1>
		<div class="envelope-wrapper z-10">
			<div class="envelope-group">
				<img src="/sobre-close.png" class="sobre-close" />
				<img src="/sobre-open.png" class="sobre-open" />
			</div>
		</div>
		<p class="introduction-text">¡Tenemos una gran noticia <br>que queremos compartir contigo!</p>

		<div class="image-wrapper" >
			<img src="/flower1.jpg" class="flower-1" />
		</div>
		
		<div class="content">
			<h2>Ana y Ángel</h2>
			<p>¡Nos casamos!</p>
			<p>Estamos encantados de invitarte a nuestra boda</p>
			<p>El próximo 28 de octubre de este años nos gustaría compartir contigo un día muy especial. A continuación, os dejamos más detalles sobre el evento.</p>
			<p>¡Confírmanos que vienes!</p>
		</div>
	</div>
		
	<script>
		import gsap from "gsap";


		// Animación intro
		const tl = gsap.timeline({delay: 0.5});

		const back = document.querySelector(".flower-1");
		const nameIntro = document.querySelector(".intro-names");
		const intro = document.querySelector(".introduction-text");
		const envelopeGroup = document.querySelector(".envelope-group");
		const envelopeGroupClosed = document.querySelector(".envelope-group .sobre-close");
		const envelopeGroupOpened = document.querySelector(".envelope-group .sobre-open");


		const content = document.querySelector(".content");

		gsap.set(envelopeGroup, {
			xPercent: -150,
			rotate: 180,
		});

		gsap.set(back, {
			autoAlpha: 0,
		});

		gsap.set(intro, {
			yPercent: -350,
		});

		gsap.set(content, {
			yPercent: 100,
		});

		tl.to(back, {
			autoAlpha: .07,
			duration: 1,
			ease: "power2.inOut",
		}).to(nameIntro, {
			autoAlpha: 1,
			duration: 1,
			ease: "power2.inOut",
		},'<').to(intro, {
			autoAlpha: 1,
			duration: 1,
			ease: "power2.inOut",
		}).to(intro, {
			delay: 1,
			autoAlpha: 1,
			yPercent: 0,
			duration: .5,
			ease: "power2.inOut",
		}).to(envelopeGroup, {
			xPercent: 0,
			rotate: 0,
			duration: 1,
			ease: "power2.inOut",
			onComplete: () => {
				envelopeGroup?.classList.add("pointer-events-auto");
				openEnvelope();
				const tlPulse = gsap.timeline({
					repeat: -1,
					yoyo: true,
					delay: 0.5,
				});
				tlPulse.to(envelopeGroupClosed, {
					scale: 1.05,
					duration: 0.5,
					rotate: 5,
					yPercent: -4,
					xPercent: 2,
				});
			},
		},'<');

		function openEnvelope() {
			console.log("click")
			envelopeGroup?.addEventListener("click", () => {
				envelopeGroupClosed?.classList.add("hidden");
				envelopeGroupOpened?.classList.add("block");

				const tlOutEnvelope = gsap.timeline({
					delay: 0.5,
				});

				tlOutEnvelope.to(intro, {
					autoAlpha: 0,
				},'<').to(nameIntro, {
					autoAlpha:0,
				},'<').to(envelopeGroupOpened, {
					yPercent: 300,
					rotate: -25,
					duration: 1,
					ease: "power2.inOut",
				},'<').to(content, {
					autoAlpha:1,
				},'<').to(content, {
					yPercent: 0,
					duration: 1,
				},'<')
			})
		}

		



	</script>
	
	
</Layout>

<style>
	
</style>

